# Alucar - Analisando as vendas

## Gráfico de vendas, Aumento e Aceleração

In [1]:
import os
import pandas as pd

In [2]:
alucar = pd.read_csv(os.path.join('material-curso', 'alucar.csv'))
alucar.head()

          mes  vendas
0  2017-01-31      10
1  2017-02-28      20
2  2017-03-31      33
3  2017-04-30      47
4  2017-05-31      63

In [3]:
# (Linhas, Colunas): São dois anos de dados
alucar.shape

(24, 2)

In [4]:
# Quantidades de nulos
alucar.isna().sum().sum()

0

In [5]:
# Tipo dos dados
alucar.dtypes

mes       object
vendas     int64
dtype: object

In [6]:
# Convertendo de object para datetime
alucar['mes'] = alucar['mes'].apply(pd.to_datetime)
alucar.dtypes

mes       datetime64[ns]
vendas             int64
dtype: object

In [ ]:
!pip install seaborn==0.9.0 -q
import seaborn as sns
%matplotlib inline
from matplotlib import pyplot as plt

In [ ]:
# Gráfico feio, nunca mais: http://urbaninstitute.github.io/graphics-styleguide/
def plotar(title, xlabel, ylabel, x, y, dataset):
    sns.set_palette('Accent')
    sns.set_style('darkgrid')
    ax = sns.lineplot(x=x, y=y, data=dataset)
    ax.figure.set_size_inches(12, 6)
    ax.set_title(title, loc='left', fontsize=18)
    ax.set_xlabel(xlabel, fontsize=14)
    ax.set_ylabel(ylabel, fontsize=14)
    ax = ax

plotar('Vendas Alucar de 2017 e 2018', 'Tempo', 'Vendas', 'mes', 'vendas', alucar)

In [ ]:
alucar['aumento'] = alucar['vendas'].diff()
alucar.head()

In [ ]:
plotar('Aumento das vendas Alucar de 2017 e 2018', 'Tempo', 'Aumento', 'mes', 'aumento', alucar)

In [ ]:
alucar['aceleracao'] = alucar['aumento'].diff()
alucar.head()

In [ ]:
plotar('Aceleração das vendas da Alucar de 2017 e 2018', 'Tempo', 'Aceleração', 'mes', 'aceleracao', alucar)

In [ ]:
def plot_comparacao(title, x, y1, y2, y3, dataset):
    plt.figure(figsize=(16, 12))
    ax = plt.subplot(3, 1, 1) # rows, columns, index
    ax.set_title(title, fontsize=18, loc='left')
    sns.lineplot(x=x, y=y1, data=dataset)
    plt.subplot(3, 1, 2)
    sns.lineplot(x=x, y=y2, data=dataset)
    plt.subplot(3, 1, 3)
    sns.lineplot(x=x, y=y3, data=dataset)

plot_comparacao('Análise de vendas da Alucar de 2017 e 2018', 'mes', 'vendas', 'aumento', 'aceleracao', alucar)

## Autocorrelação

Autocorrelação  Interpretação
1               correlação perfeita positiva
0,7 a 0,9       correlação forte
0,4 a 0,7       correlação moderada
0,2 a 0,4       correlação fraca
0               correlação nula
< 0             correlação negativa
-1              correlação perfeita negativa

In [ ]:
from pandas.plotting import autocorrelation_plot

In [ ]:
ax = plt.figure(figsize=(12, 6))
ax.suptitle('Autocorrelação das vendas', x=0.26, y=0.95)
autocorrelation_plot(alucar['vendas'])
ax = ax

In [ ]:
ax = plt.figure(figsize=(12, 6))
ax.suptitle('Autocorrelação do aumento', x=0.26, y=0.95)
autocorrelation_plot(alucar['aumento'][1:])
ax = ax

In [ ]:
ax = plt.figure(figsize=(12, 6))
ax.suptitle('Autocorrelação do aceleração', x=0.26, y=0.95)
autocorrelation_plot(alucar['aceleracao'][2:])
ax = ax

# Importância da decomposição e sazonalidade

## Alucar - analisando assinantes da newsletter

In [ ]:
assinantes = pd.read_csv(os.path.join('material-curso', 'newsletter_alucar.csv'))
assinantes.head()

In [ ]:
assinantes.dtypes

In [ ]:
assinantes.shape, assinantes.isna().sum().sum()

In [ ]:
assinantes['mes'] = assinantes['mes'].apply(pd.to_datetime)

In [ ]:
assinantes.dtypes

In [ ]:
assinantes['aumento'] = assinantes['assinantes'].diff()
assinantes['aceleracao'] = assinantes['aumento'].diff()
assinantes.head()

In [ ]:
plot_comparacao('Análise de assinantes da newsletter', 'mes', 'assinantes', 'aumento', 'aceleracao', assinantes)

# Análise das vendas: Chocolura

In [ ]:
chocolura = pd.read_csv(os.path.join('material-curso', 'chocolura.csv'))
chocolura.head()

In [ ]:
chocolura.dtypes

In [ ]:
chocolura['mes'] = chocolura['mes'].apply(pd.to_datetime)
chocolura.head()

In [ ]:
chocolura.shape, chocolura.isna().sum().sum()

In [ ]:
chocolura['aumento'] = chocolura['vendas'].diff()
chocolura['aceleracao'] = chocolura['aumento'].diff()
chocolura.head()

In [ ]:
plot_comparacao('Análise de vendas da Chocolura', 'mes', 'vendas', 'aumento', 'aceleracao', chocolura)

## Chocolura - vendas diárias

In [ ]:
vendas_por_dia = pd.read_csv(os.path.join('material-curso', 'vendas_por_dia.csv'))
vendas_por_dia.head()

In [ ]:
vendas_por_dia.dtypes

In [ ]:
vendas_por_dia['dia'] = vendas_por_dia['dia'].apply(pd.to_datetime)
vendas_por_dia.dtypes

In [ ]:
vendas_por_dia.shape, vendas_por_dia.isna().sum().sum()

In [ ]:
vendas_por_dia['aumento'] = vendas_por_dia['vendas'].diff()
vendas_por_dia['aceleracao'] = vendas_por_dia['aumento'].diff()
vendas_por_dia.head()

In [ ]:
plot_comparacao('Análise de vendas de Outubro e Novembro da Chocolura', 'dia', 'vendas', 'aumento', 'aceleracao', vendas_por_dia)

## Analisando a sazonalidade

In [ ]:
vendas_por_dia['dia_da_semana'] = vendas_por_dia['dia'].dt.day_name()
vendas_por_dia.head()

In [ ]:
vendas_por_dia['dia_da_semana'].unique()

In [ ]:
dias_traduzidos = {
    'Monday': 'segunda',
    'Tuesday': 'terça',
    'Wednesday': 'quarta',
    'Thursday': 'quinta',
    'Friday': 'sexta',
    'Saturday': 'sabado',
    'Sunday': 'domingo'
}

In [ ]:
vendas_por_dia['dia_da_semana'] = vendas_por_dia['dia_da_semana'].map(dias_traduzidos)
vendas_por_dia.head()

## Agrupando vendas por dia

In [ ]:
vendas_agrupadas = vendas_por_dia.groupby('dia_da_semana')[['vendas', 'aumento', 'aceleracao']].mean().round()
vendas_agrupadas

## Autocorrelação das vendas diárias

In [ ]:
ax = plt.figure(figsize=(12, 6))
ax.suptitle('Correlação das vendas diárias', fontsize=18, x=0.3, y=0.95)
autocorrelation_plot(vendas_por_dia['vendas'])
ax = ax

In [ ]:
ax = plt.figure(figsize=(12, 6))
ax.suptitle('Correlação do aumento das vendas diárias', fontsize=18, x=0.3, y=0.95)
autocorrelation_plot(vendas_por_dia['aumento'][1:])
ax = ax

In [ ]:
ax = plt.figure(figsize=(12, 6))
ax.suptitle('Correlação da aceleração das vendas diárias', fontsize=18, x=0.3, y=0.95)
autocorrelation_plot(vendas_por_dia['aceleracao'][2:])
ax = ax